@media(max-width:1000px){
    .dessc{
        font-size:1em
    }
}
@media(max-width:800px){
    .contador{
        width:80%
    }
    .desc-n{
        font-size:1.5em
    }
}
@media(max-width:500px){
.contador{
    width:90%
}
.cont_ing{
    width:90%
}
}
@media(max-width:400px){
    .caja_contador{
        width:100%;
        height:100%;
        left:0;
        top:0
    }
    .contador{
        width:100%
    }
    .botones{
        width:90%;
        /* height:60px */
    }
    .dessc{
        font-size:.8em;
        width:100px
    }
    .pa1{
        font-size:.8em
    }

}