*{
    margin:0 1px
}
.cajaMadre{
    overflow:hidden
}
.cabeza{
    width:100%;
    height:100vh;
    background-size:cover;
    background-image: linear-gradient(to top, rgba(41, 6, 78, 0.7) 0%, rgb(51, 8, 90,.8) 100%),
    url(pro/carpintera.jpg);
    background-attachment:fixed;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
}
.cabeza h1{
    color:white;
    font-size:60px;
    padding:20px 0
}
.cabeza p{
    color:white;
    font-size:30px;
    padding:20px 0;
}
.menu{
    position:fixed;
    top:5%;
    right:3%;
    font-size:50px;
    background:white;
    border-radius:10%
}
.nav{
    position:fixed;
    top:0%;
    right:0%;
    width:20%;
    height:100vh;
    background:blue;
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content:space-evenly;
    list-style:none;
    transform:translate(130%);
    transition:.5s
}
.mostNav{
    transform:translate(0)
}
nav li a{
    text-decoration:none;
    font-size:30px;
    color:white
}
.no{
    position:fixed;
    top:1%;
    right:1%;
    font-size:40px;
    color:white;
    cursor:pointer;
    background:black;
    border-radius:50%
}


.re{
    display:none
}
.cuerpo{
    width:100%;
    background:rgb(204, 199, 199);
    margin:1% 0;

    
 
}
.cuerpo h2{
    text-align:center
}
.lecturas{
    width:100%;
    background:rgb(228, 197, 197);
    display:flex;
    justify-content: space-evenly;
    padding:1% 0;
    flex-wrap:wrap;
    align-items: center;
}
.lectura1{
    width:60%;
    background:white;
    margin-bottom: 1%;
}
.lectura2{
    width:40%;
    background:white;
    margin-bottom: 1%;

}
.lectura3{
    width:40%;
    margin-bottom: 1%;
    background:white;
}
.lec h1{text-align:center;color:blue;cursor:pointer}
.arre{
    width:90%;
}
.quite{
    display:none;
}
.fotos{
    width:95%;
    margin: 1% 2.5%;
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap
}
.imagen{
    background:white;
    width:300px;
    margin:1%;
    padding:1%;
    display:flex;
    flex-direction:column;
    align-items:center
}
.fot{
    width:70%;
    height:50%;
    cursor:pointer
}
.foti{
    width:20%
}
.fondo{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background:black;
    color:white;
    display: flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    transform:translate(120%);
    transition:.3s;
}
.quitarFondo{
    position:fixed;
    top:2%;
    right:2%;
    height:40px;
    width:40px;
    background:red;
    font-size:50px;
    text-align:center;
    line-height:28px;
    font-weight:700;
    border-radius:50%;
    cursor:pointer;
    color:black
}
.ponerFondo{
    transform:translate(0)
}
.ponerFoto{
    height:90%;

}


.principal{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background:black;
    display:flex;
    justify-content:center;
    align-items:center;
   transform:translate(110%)
}
.quitaReloj{
    transform:translate(0)
}

.cerraR{
    color:black;
    position:fixed;
    top:1%;
    right:1%;
    font-size:30px;
    font-weight:800;
    cursor:pointer;
    background:white;
    border-radius:50%
}
.cajaDelReloj{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content:center;
    width:320px;
    height:150px;
    border-radius:15px;
background-color: white;
}
.fecha{
width:95%;
height:25%;
border:solid black 1px;
text-align:center;
font-size:30px
}
.hora2{
    width:50%;
    height:30%;
    border-radius:10px;
    font-size:45px;
    line-height:45px;
    text-align:center;
    background:rgb(5, 250, 5);
    box-shadow:0px 0px 10px 1px rgb(3, 83, 3) inset;
    font-family:"DS-digital";
}
.segundo{
    width:10%;
    height:20%;
    border:solid black 1px;
    margin-left:2px;
    font-size:20px;
    font-weight:600;
    line-height:40px
}
.ampm{
    width:15%;
    height:20%;
    border:solid black 1px;
    margin-left:20px;
    font-size:25px;
    text-align:center;
    font-weight:800
}

@media (max-width:975px){
    .cabeza h1{
        font-size:50px
    }
    .cabeza p{
        font-size:25px
    }
    .ponerFoto{
        height:68%;

    }
    .nav{
        width:50%
    }
    .cajaHora{
        font-size:29px;
        line-height:35px
    }
    .cajareloj{
        height:45px
    }
}
@media (max-width:740px){
    .cabeza h1{
        font-size:40px;
        width:90%
    }
    .cabeza p{
        font-size:24px;
        width:90%
    }
    .lectura1{
        width:80%
    }
    .lectura2{
        width:80%
    }
    .lectura3{
        width:80%
    }
    .ponerFoto{
        height:55%
    }
    .nav{
        width:50%
    }
    .imagen{
        width:30%;
        height:200px
    }
    .fot{
        height:100px
    }

    .cajaHora{
        font-size:21.5px;
        line-height:30px
    }
    .cajareloj{
        height:35px
    }
}
@media (max-width:550px){
    .cabeza h1{
        font-size:33px
    }
    .cabeza p{
        font-size:20px
    }
    .ponerFoto{
        height:45%
    }
    .nav{
        width:100%
    }
    .fot{
        height:60px
    }
    .pa{
        font-size: 20px;
    }
    .lec{
        width:100%
    }
    .cajaHora{
        font-size:15.5px;
        line-height:30px
    }
    .cajareloj{
        height:35px
    }
}
@media (max-width:400px){
    .ponerFoto{
        height:30%
    }
    .nav{
        width:100%
    }
    .lec{width:100%}
    .imagen{width:90%}
    .fot{height:100px}
    .lec p{font-size:20px}
    .lec h1{font-size:35px}
.cajaHora{
    font-size:11.7px;
    line-height:30px
}
.cajareloj{
    height:35px
}
.cerraR{
    font-size:20px;
    right:2%
}
.cajaDelReloj{
    width:90%
}
}

@media (max-width:300px){
    .ponerFoto{
        height: 23%;
    }
    .lec p{font-size:20px}
    .lec h1{font-size:35px}
    .cajaHora{
        font-size:20px;
        line-height:30px;
        padding:0 10px
    }
    .cajareloj{
        height:80px
    }
    .fecha{
        font-size:27px
    }
}


