.sec{
    background:green;
    width:98vw;
    height:100vh;
    margin-left:15px;
    overflow:hidden;
    transform:scale(0);
    transition:.3s ease-in;
    position:fixed;
    top:0;
    left:0;
    
}
.poner_seccion{
    transform:scale(1);
    
}
.imag{
    width:50px;
    height:50px;
    background:white;
    font-size:50px;
    position:fixed;
    right:20px;
    top:90px;
    border-radius:10px;
    cursor:pointer;
    
}
.Cerrar{
    width:60px;
    height:25px;
    background:red;
    text-align:center;
    line-height:25px;
    font-size:16px;
    border-radius:10%;
    font-weight:900;
    position:absolute;
    right:0px;
    top:0px;
    cursor:pointer;
    transform:scale(.8)
}
.Cerrar:hover{
    transform:scale(1)
}
.sec h1{
    text-align:center
}
.probando-galeria{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    height:100vh;
    overflow:auto
}
.fotos{
    width:200px;
    height:100px;
    margin: 10px 0px 10px 0px;
    cursor:pointer
}
.fotos:hover{
    transform:scale(1.1);
    box-shadow: 5px  5px 5px 10px red unset ;
}
.cerrar{
    width:30px;
    height:30px;
    background:white;
    position:fixed;
    top:3%;
    right:4%;
    text-align:center;
    font-size:30px;
    border-radius:50%;
    background:black;
    color:white;
    cursor:pointer
}
.fondo{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background:rgba(0,0,0,.8);
    display:flex;
    justify-content:center;
    align-items: center;
    transform:scale(0);
    transition:.2s
}
.poner-fondo{
transform:scale(1)
}
.poner-foto{
height:90vh;
width:auto;

}

@media (max-width:850px){
    .poner-foto{
        height:70vh;
        width:auto
    }
    .cerrar{
        top:3%
    }
}
@media (max-width:650px){
    .poner-foto{
        height:70vh;
        width:auto
    }
    .cerrar{
        top:10%
    }
}
@media (max-width:450px){
    .poner-foto{
        height:50vh;
        width:auto
    }
    .cerrar{
        top:15%
    }
}
@media (max-width:330px){
    .poner-foto{
        height:35vh;
        width:auto
    }
    .cerrar{
        top:25%;
        right:50%
    }
}